=javascript_include_tag "views/fusion_charts/js/FusionCharts.js"

%p
=link_to "按照时间顺序",sidebar_browse_histories_infos_path(:order=>"time")
=link_to "按照浏览次数排序",sidebar_browse_histories_infos_path(:order=>"count")
-order = @order
=render_pie(order)

-mplist @browse_histories,:for=>BrowseHistory

=link_to "查看更多",browse_histories_path,:target=>"_blank"

=link_to "更多","javascript:void(0)",:onclick=>"more_histories();",:id=>"click_for_more_histories"

:javascript
  function more_histories(){
    var number = $$("li.browse_history").length;
    jQuery.ajax({
      url: "/sidebar/more_browse_histories_infos",
      cache: false,
      data: "from="+number
    });
  }
