=javascript_include_tag "views/fusion_charts/js/FusionCharts.js"
-mplist @browse_histories,:for=>BrowseHistory

=link_to "查看更多",browse_histories_path,:target=>"_blank"

%p
=link_to "按照时间顺序",sidebar_browse_histories_infos_path(:order=>"time")
=link_to "按照浏览次数排序",sidebar_browse_histories_infos_path(:order=>"count")
-order = @order
=render_pie(order)


