="#{params[:url]} 的 所有评论"
-comments = Comment.url_equals(params[:url]).by_updated_at(:desc)

- mplist comments,:for=>Comment

%div 增加评注
- mindpin_remote_form_for Comment.new,:url=>comments_path,:html=>{:class=>"comment_form"} do |f|
  = f.hidden_field :url,:value=>params[:url]
  = f.text_area :content,:show_label=>false
  = f.submit "提交评论"