评论
-if @web_site
  =@web_site.domain
  -mplist @web_site.comments.limited(3),:for=>Comment do |comment|
    =render :partial=>"sidebar/web_site_infos/parts/mpinfo_comment",:locals=>{:comment=>comment}
  =link_to "更多",web_site_comments_path(:web_site_id=>@web_site.id),:target=>"_blank"
%div 增加评注
-mindpin_remote_form_for Comment.new,:url=>sidebar_web_site_comment_path,:html=>{:class=>"comment_form"} do |f|
  =hidden_field_tag "url",params[:url]
  =f.text_area :content,:show_label=>false,:style=>"height:54px;width:230px;"
  =f.submit "提交评论"
