- creator = comment.creator
- adminable = (logged_in? && current_user == creator)
- classname = ['comment-info',(adminable ? 'adminable':'')] *' '

%div{:class=>classname,:style=>"width:300px"}
  .meta
    .fleft.marginr5
      =logo creator,'tiny'
    .fright
      .fleft.marginr10
        =created_at comment
      .fleft.cicon

  .cbody
    %p= comment.content
    - if adminable
      .actions
        =link_to '<span>编辑</span>','javascript:void(0)',:class=>'minibutton'
        =link_to "<span>删除</span>","##",:class=>'minibutton delete_comment'
        %div{:class=>"hide delete_confirm"}
          %div 确定删除么？
          =link_to_remote "确定",:url=>sidebar_comment_path(comment),:method=>:delete,:html=>{:class=>'submit_confirm'}
          =link_to "取消",'#',:class=>'cancel_confirm'
        =link_to '<span>分享</span>','javascript:void(0)',:class=>'minibutton share_comment'
        =link_to '<span>发送</span>','javascript:void(0)',:class=>'minibutton send_comment'
