.feelgood {background:url(/images/feelings/votemark.png) no-repeat 0px 0px;height:25px;width:25px; display:inline-block;}
.feelbad {background:url(/images/feelings/votemark.png) no-repeat -25px 0px;height:25px;width:25px; display:inline-block;}


