div.pagerank1 {
  background:url(/images/pagerank/pagerank.png) no-repeat 0px 0px;
  height:15px;
  width:80px;
}
div.pagerank2 {
  background:url(/images/pagerank/pagerank.png) no-repeat 0px -16px;
  height:15px;
  width:80px;
}
div.pagerank3 {
  background:url(/images/pagerank/pagerank.png) no-repeat 0px -32px;
  height:15px;
  width:80px;
}
div.pagerank4 {
  background:url(/images/pagerank/pagerank.png) no-repeat 0px -48px;
  height:15px;
  width:80px;
}
div.pagerank5 {
  background:url(/images/pagerank/pagerank.png) no-repeat 0px -64px;
  height:15px;
  width:80px;
}
div.pagerank6 {
  background:url(/images/pagerank/pagerank.png) no-repeat 0px -80px;
  height:15px;
  width:80px;
}
div.pagerank7 {
  background:url(/images/pagerank/pagerank.png) no-repeat 0px -96px;
  height:15px;
  width:80px;
}
div.pagerank8 {
  background:url(/images/pagerank/pagerank.png) no-repeat 0px -112px;
  height:15px;
  width:80px;
}
div.pagerank9 {
  background:url(/images/pagerank/pagerank.png) no-repeat 0px -128px;
  height:15px;
  width:80px;
}
div.pagerank10 {
  background:url(/images/pagerank/pagerank.png) no-repeat 0px -144px;
  height:15px;
  width:80px;
}