-web_site_id = (params[:id] || params[:web_site_id])
-if web_site_id
  %ul
    %li
      =tabs_link_to '简介',web_site_introductions_path(:web_site_id=>web_site_id)
      =tabs_link_to '评论',web_site_comments_path(:web_site_id=>web_site_id)
