%span.ui-button-span= link_to_remote "添加新网站",:url=>new_web_site_path,:method=>:get,:html=>{:class=>"ui-button"}
-mplist @web_sites,:for=>WebSite
=will_paginate @web_sites,{:position=>:paper}

-content_for :head do
  = stylesheet_link_tag "/stylesheets/views/pagerank.css"