- creator = comment.creator
- adminable = (logged_in? && current_user == creator)
- classname = ['comment-info',(adminable ? 'adminable':'')] *' '

%div{:class=>classname,:style=>"width:230px"}
  .meta
    .fleft.marginr5
      =logo creator,'tiny'
    .fright
      .fleft.marginr10
        =created_at comment
      .fleft.cicon

  .cbody
    %p= comment.content
    - if adminable
      .actions
        = link_to '<span>修改</span>','javascript:void(0)',:class=>'minibutton'
        = link_to_remote "<span>删除</span>",:url=>comment_path(comment),:method=>:delete,:confirm=>"确定要删除这个？",:html=>{:class=>'minibutton'}
